PngImage_1 RCDATA "C:\\Users\\amari\\Documents\\Embarcadero\\Studio\\Projects\\Project2\\images\\collapse.png"
PngImage_2 RCDATA "C:\\Users\\amari\\Documents\\Embarcadero\\Studio\\Projects\\Project2\\images\\expand.png"
